openapi: 3.0.3
info:
  title: PRISM Resilience API Specification
  description: |
    Extended API specification focusing on system resilience, failure modes, and degraded service patterns.
    This specification complements the main OpenAPI spec with specific resilience testing endpoints.
  version: 2.0.0
  contact:
    name: PRISM QA Team
    email: qa@prism.dev
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.prism.dev/v2
    description: Production resilience endpoints
  - url: https://staging-api.prism.dev/v2
    description: Staging resilience testing
  - url: http://localhost:8080/v2
    description: Local resilience development

tags:
  - name: resilience
    description: System resilience and failure recovery endpoints
  - name: degraded-service
    description: Degraded service mode operations
  - name: emergency-access
    description: Emergency access and recovery procedures
  - name: offline-sync
    description: Offline synchronization and queue management
  - name: network-transitions
    description: Network transition and P2P mesh recovery

paths:
  # System Health and Resilience Status
  /resilience/health:
    get:
      tags: [resilience]
      summary: Get comprehensive system resilience status
      description: |
        Returns detailed health information including:
        - Current system resilience level
        - Active failure modes
        - Degraded services status
        - Recovery procedures status
      responses:
        '200':
          description: System resilience status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResilienceHealthStatus'
              examples:
                healthy:
                  summary: Fully resilient system
                  value:
                    status: "resilient"
                    resilience_level: 0.95
                    active_failure_modes: []
                    degraded_services: []
                    recovery_procedures: []
                    last_failure_time: null
                degraded:
                  summary: Partially degraded system
                  value:
                    status: "degraded"
                    resilience_level: 0.72
                    active_failure_modes: ["network_partition", "storage_latency"]
                    degraded_services: ["user_sync", "real_time_updates"]
                    recovery_procedures: ["auto_recovery_network", "manual_storage_check"]
                    last_failure_time: "2025-01-21T03:15:30Z"
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /resilience/failure-modes:
    get:
      tags: [resilience]
      summary: List all possible failure modes
      description: Returns comprehensive list of failure modes the system can handle
      responses:
        '200':
          description: Failure modes list retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  failure_modes:
                    type: array
                    items:
                      $ref: '#/components/schemas/FailureMode'
                  total_count:
                    type: integer
                    example: 15
    post:
      tags: [resilience]
      summary: Simulate failure mode (Testing only)
      description: |
        Simulate specific failure modes for resilience testing.
        **WARNING: This endpoint should only be available in testing environments**
      security:
        - TestingAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FailureSimulation'
      responses:
        '202':
          description: Failure simulation initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  simulation_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum: [initiated, running, completed, failed]
                  estimated_duration:
                    type: string
                    format: duration
                    example: "PT5M"
        '403':
          description: Failure simulation not allowed in this environment
        '400':
          $ref: '#/components/responses/BadRequest'

  # Degraded Service Operations
  /resilience/degraded-service/status:
    get:
      tags: [degraded-service]
      summary: Get degraded service status
      description: Check which services are running in degraded mode
      responses:
        '200':
          description: Degraded service status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DegradedServiceStatus'

  /resilience/degraded-service/enable:
    post:
      tags: [degraded-service]
      summary: Enable degraded service mode
      description: |
        Manually enable degraded service mode for specific services.
        This reduces functionality to ensure core operations continue.
      security:
        - AdminAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum: [user_sync, real_time_updates, search, analytics, notifications]
                reason:
                  type: string
                  maxLength: 500
                estimated_duration:
                  type: string
                  format: duration
                  example: "PT30M"
      responses:
        '200':
          description: Degraded mode enabled successfully
        '403':
          $ref: '#/components/responses/Forbidden'

  /resilience/degraded-service/disable:
    post:
      tags: [degraded-service]
      summary: Disable degraded service mode
      description: Restore full service functionality
      security:
        - AdminAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                services:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Full service restored
        '403':
          $ref: '#/components/responses/Forbidden'

  # Emergency Access Endpoints
  /resilience/emergency-access/authenticate:
    post:
      tags: [emergency-access]
      summary: Emergency authentication
      description: |
        Special authentication endpoint for emergency access scenarios.
        Provides limited-time, elevated access during system emergencies.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                emergency_code:
                  type: string
                  description: Emergency access code (rotated regularly)
                  example: "EMRG-2025-0121-7891"
                justification:
                  type: string
                  description: Reason for emergency access
                  maxLength: 1000
                requester_id:
                  type: string
                  description: ID of person requesting emergency access
      responses:
        '200':
          description: Emergency access granted
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: Limited-time emergency access token
                  expires_at:
                    type: string
                    format: date-time
                  permissions:
                    type: array
                    items:
                      type: string
                  audit_id:
                    type: string
                    description: Audit trail identifier
        '401':
          description: Invalid emergency code
        '403':
          description: Emergency access denied
        '429':
          description: Too many emergency access attempts

  /resilience/emergency-access/status:
    get:
      tags: [emergency-access]
      summary: Get emergency access status
      description: Check current emergency access grants and their status
      security:
        - AdminAuth: []
      responses:
        '200':
          description: Emergency access status
          content:
            application/json:
              schema:
                type: object
                properties:
                  active_grants:
                    type: array
                    items:
                      $ref: '#/components/schemas/EmergencyAccessGrant'
                  total_active:
                    type: integer
                  last_emergency_time:
                    type: string
                    format: date-time

  # Offline Synchronization
  /resilience/offline-sync/queue-status:
    get:
      tags: [offline-sync]
      summary: Get offline synchronization queue status
      description: |
        Check status of offline synchronization queues including:
        - Pending operations count
        - Queue health
        - Last successful sync
        - Conflict resolution status
      parameters:
        - name: agent_id
          in: query
          schema:
            type: string
          description: Specific agent ID to check (optional)
      responses:
        '200':
          description: Offline sync queue status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfflineSyncStatus'

  /resilience/offline-sync/force-sync:
    post:
      tags: [offline-sync]
      summary: Force synchronization attempt
      description: |
        Manually trigger synchronization attempt for offline queues.
        Useful for testing recovery scenarios.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agent_ids:
                  type: array
                  items:
                    type: string
                  description: Specific agents to sync (empty for all)
                priority:
                  type: string
                  enum: [low, normal, high, emergency]
                  default: normal
                max_retry_attempts:
                  type: integer
                  minimum: 1
                  maximum: 10
                  default: 3
      responses:
        '202':
          description: Synchronization initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  sync_job_id:
                    type: string
                    format: uuid
                  estimated_completion:
                    type: string
                    format: date-time
        '409':
          description: Synchronization already in progress
        '503':
          description: Unable to initiate sync due to system constraints

  /resilience/offline-sync/conflicts:
    get:
      tags: [offline-sync]
      summary: Get synchronization conflicts
      description: List current CRDT synchronization conflicts requiring resolution
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, resolved, failed]
          description: Filter conflicts by status
        - name: priority
          in: query
          schema:
            type: string
            enum: [low, medium, high, critical]
          description: Filter conflicts by priority
      responses:
        '200':
          description: Synchronization conflicts list
          content:
            application/json:
              schema:
                type: object
                properties:
                  conflicts:
                    type: array
                    items:
                      $ref: '#/components/schemas/SyncConflict'
                  total_count:
                    type: integer
                  resolution_stats:
                    $ref: '#/components/schemas/ConflictResolutionStats'

    post:
      tags: [offline-sync]
      summary: Resolve synchronization conflict
      description: Manually resolve specific CRDT synchronization conflicts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                conflict_id:
                  type: string
                  format: uuid
                resolution_strategy:
                  type: string
                  enum: [merge_both, prefer_local, prefer_remote, manual_resolution]
                manual_resolution:
                  type: object
                  description: Manual resolution data (when strategy is manual_resolution)
                notes:
                  type: string
                  maxLength: 1000
      responses:
        '200':
          description: Conflict resolved successfully
        '404':
          description: Conflict not found
        '400':
          description: Invalid resolution strategy

  # Network Transition Testing
  /resilience/network-transitions/simulate:
    post:
      tags: [network-transitions]
      summary: Simulate network transition scenarios
      description: |
        Simulate various network transition patterns for P2P mesh testing:
        - WiFi to Cellular transitions
        - Cellular to Offline scenarios  
        - Network recovery patterns
        - Peer discovery and mesh reformation
      security:
        - TestingAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkTransitionSimulation'
      responses:
        '202':
          description: Network transition simulation started
          content:
            application/json:
              schema:
                type: object
                properties:
                  simulation_id:
                    type: string
                    format: uuid
                  scenario:
                    type: string
                  estimated_duration:
                    type: string
                    format: duration
                  monitoring_endpoints:
                    type: array
                    items:
                      type: string
                      format: uri
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          description: Network simulation not allowed in this environment

  /resilience/network-transitions/{simulation_id}/status:
    get:
      tags: [network-transitions]
      summary: Get network transition simulation status
      parameters:
        - name: simulation_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Network transition simulation status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkTransitionStatus'
        '404':
          description: Simulation not found

  /resilience/p2p-mesh/health:
    get:
      tags: [network-transitions]
      summary: Get P2P mesh network health
      description: |
        Comprehensive P2P mesh health information including:
        - Connected peer count and quality
        - Mesh topology health score
        - Network partition detection
        - Recovery mechanism status
      responses:
        '200':
          description: P2P mesh health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2PMeshHealth'

  # Battery and Resource Monitoring
  /resilience/resources/battery-impact:
    get:
      tags: [resilience]
      summary: Get battery impact metrics
      description: |
        Battery impact assessment for mobile devices including:
        - Current battery drain rate
        - Projected battery life under current load
        - Resource optimization recommendations
      parameters:
        - name: platform
          in: query
          schema:
            type: string
            enum: [ios, android]
          description: Mobile platform for battery metrics
        - name: time_window
          in: query
          schema:
            type: string
            format: duration
            default: "PT1H"
          description: Time window for battery metrics
      responses:
        '200':
          description: Battery impact metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatteryImpactMetrics'

components:
  securitySchemes:
    AdminAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Admin-level authentication required
    TestingAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Testing environment authentication
    EmergencyAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Emergency access authentication

  schemas:
    ResilienceHealthStatus:
      type: object
      properties:
        status:
          type: string
          enum: [resilient, degraded, critical, recovering]
          description: Overall system resilience status
        resilience_level:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description: Quantified resilience level (0.0 = no resilience, 1.0 = fully resilient)
        active_failure_modes:
          type: array
          items:
            type: string
          description: Currently active failure modes
        degraded_services:
          type: array
          items:
            type: string
          description: Services currently running in degraded mode
        recovery_procedures:
          type: array
          items:
            type: string
          description: Active recovery procedures
        last_failure_time:
          type: string
          format: date-time
          nullable: true
          description: Timestamp of last system failure
        metrics:
          type: object
          properties:
            uptime_percentage:
              type: number
              format: float
            mean_time_to_recovery:
              type: string
              format: duration
            failure_count_24h:
              type: integer
            auto_recovery_success_rate:
              type: number
              format: float

    FailureMode:
      type: object
      properties:
        name:
          type: string
          example: "network_partition"
        description:
          type: string
          example: "Network partition isolating subset of nodes"
        severity:
          type: string
          enum: [low, medium, high, critical]
        recovery_strategy:
          type: string
          enum: [automatic, manual, hybrid]
        estimated_recovery_time:
          type: string
          format: duration
          example: "PT5M"
        affected_services:
          type: array
          items:
            type: string

    FailureSimulation:
      type: object
      required:
        - failure_mode
        - duration
      properties:
        failure_mode:
          type: string
          description: Type of failure to simulate
          enum: 
            - network_partition
            - storage_latency
            - memory_pressure
            - cpu_throttling
            - disk_full
            - consensus_failure
            - peer_disconnect
            - auth_service_down
        duration:
          type: string
          format: duration
          description: How long to maintain the failure simulation
          example: "PT5M"
        intensity:
          type: string
          enum: [low, medium, high]
          default: medium
          description: Intensity of the failure simulation
        affected_components:
          type: array
          items:
            type: string
          description: Specific components to affect (empty for all)
        recovery_test:
          type: boolean
          default: true
          description: Whether to test automatic recovery after failure

    DegradedServiceStatus:
      type: object
      properties:
        degraded_services:
          type: array
          items:
            type: object
            properties:
              service_name:
                type: string
              degradation_level:
                type: string
                enum: [minimal, moderate, severe]
              functionality_available:
                type: array
                items:
                  type: string
              functionality_disabled:
                type: array
                items:
                  type: string
              estimated_restoration:
                type: string
                format: date-time
                nullable: true
        total_degraded_count:
          type: integer
        system_performance_impact:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0

    EmergencyAccessGrant:
      type: object
      properties:
        grant_id:
          type: string
          format: uuid
        requester_id:
          type: string
        granted_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        permissions:
          type: array
          items:
            type: string
        justification:
          type: string
        is_active:
          type: boolean
        audit_trail_id:
          type: string

    OfflineSyncStatus:
      type: object
      properties:
        agent_id:
          type: string
          nullable: true
        queue_statistics:
          type: object
          properties:
            pending_operations:
              type: integer
            failed_operations:
              type: integer
            total_queue_size_bytes:
              type: integer
            oldest_pending_timestamp:
              type: string
              format: date-time
              nullable: true
        last_successful_sync:
          type: string
          format: date-time
          nullable: true
        sync_health:
          type: string
          enum: [healthy, degraded, failing, offline]
        conflict_status:
          type: object
          properties:
            pending_conflicts:
              type: integer
            auto_resolved_conflicts:
              type: integer
            manual_resolution_required:
              type: integer
        estimated_sync_time:
          type: string
          format: duration
          nullable: true

    SyncConflict:
      type: object
      properties:
        conflict_id:
          type: string
          format: uuid
        agent_ids:
          type: array
          items:
            type: string
        data_type:
          type: string
        conflict_type:
          type: string
          enum: [concurrent_modification, delete_modify, schema_mismatch]
        priority:
          type: string
          enum: [low, medium, high, critical]
        created_at:
          type: string
          format: date-time
        auto_resolvable:
          type: boolean
        suggested_resolution:
          type: string
          nullable: true
        conflicting_data:
          type: object
          description: The conflicting data versions

    ConflictResolutionStats:
      type: object
      properties:
        total_conflicts_24h:
          type: integer
        auto_resolved_24h:
          type: integer
        manual_resolved_24h:
          type: integer
        pending_manual_resolution:
          type: integer
        average_resolution_time:
          type: string
          format: duration

    NetworkTransitionSimulation:
      type: object
      required:
        - scenario
      properties:
        scenario:
          type: string
          enum: 
            - wifi_to_cellular
            - cellular_to_offline
            - offline_to_wifi
            - network_recovery_stress_test
            - mesh_reformation_test
            - peer_discovery_failure
        duration:
          type: string
          format: duration
          default: "PT10M"
        network_conditions:
          type: object
          properties:
            latency_range:
              type: object
              properties:
                min_ms:
                  type: integer
                max_ms:
                  type: integer
            packet_loss_percentage:
              type: number
              format: float
              minimum: 0.0
              maximum: 100.0
            bandwidth_limit_kbps:
              type: integer
              nullable: true
        peer_count:
          type: integer
          minimum: 1
          maximum: 20
          default: 5
        test_operations:
          type: array
          items:
            type: string
            enum: [data_sync, peer_discovery, mesh_healing, conflict_resolution]

    NetworkTransitionStatus:
      type: object
      properties:
        simulation_id:
          type: string
          format: uuid
        scenario:
          type: string
        status:
          type: string
          enum: [running, completed, failed, cancelled]
        progress_percentage:
          type: integer
          minimum: 0
          maximum: 100
        current_phase:
          type: string
        elapsed_time:
          type: string
          format: duration
        estimated_remaining_time:
          type: string
          format: duration
          nullable: true
        metrics:
          type: object
          properties:
            peer_connections_maintained:
              type: integer
            data_sync_success_rate:
              type: number
              format: float
            mesh_reformation_time:
              type: string
              format: duration
              nullable: true
            conflicts_detected:
              type: integer
            conflicts_resolved:
              type: integer

    P2PMeshHealth:
      type: object
      properties:
        connected_peers:
          type: integer
        mesh_topology_score:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description: Health score of mesh topology (1.0 = optimal)
        network_partitions_detected:
          type: integer
        partition_recovery_active:
          type: boolean
        peer_quality_distribution:
          type: object
          properties:
            excellent:
              type: integer
            good:
              type: integer
            fair:
              type: integer
            poor:
              type: integer
        data_propagation_latency:
          type: object
          properties:
            p50_ms:
              type: number
              format: float
            p95_ms:
              type: number
              format: float
            p99_ms:
              type: number
              format: float
        mesh_stability_score:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0

    BatteryImpactMetrics:
      type: object
      properties:
        platform:
          type: string
          enum: [ios, android]
        current_drain_rate_mah:
          type: number
          format: float
        projected_battery_life_hours:
          type: number
          format: float
        impact_by_component:
          type: object
          properties:
            p2p_networking:
              type: number
              format: float
            data_synchronization:
              type: number
              format: float
            background_processing:
              type: number
              format: float
            ui_updates:
              type: number
              format: float
        optimization_recommendations:
          type: array
          items:
            type: object
            properties:
              component:
                type: string
              recommendation:
                type: string
              potential_savings_percentage:
                type: number
                format: float
        battery_health_status:
          type: string
          enum: [excellent, good, fair, poor, critical]

  responses:
    BadRequest:
      description: Bad request - invalid parameters
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string
              details:
                type: array
                items:
                  type: string

    Forbidden:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "forbidden"
              message:
                type: string
                example: "Insufficient permissions for this operation"

    ServiceUnavailable:
      description: Service temporarily unavailable
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "service_unavailable"
              message:
                type: string
                example: "Service is temporarily unavailable"
              retry_after:
                type: string
                format: duration
                example: "PT5M"